## Translating SQL Queries

In [1]:
import pandas as pd
import numpy as np

In [2]:
employee = pd.read_csv('employee.csv')

In [3]:
employee.columns

Index(['UNIQUE_ID', 'POSITION_TITLE', 'DEPARTMENT', 'BASE_SALARY', 'RACE',
       'EMPLOYMENT_TYPE', 'GENDER', 'EMPLOYMENT_STATUS', 'HIRE_DATE',
       'JOB_DATE'],
      dtype='object')

In [4]:
employee.head()

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
0,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,Active,2006-06-12,2012-10-13
1,1,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,Active,2000-07-19,2010-09-18
2,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,Active,2015-02-03,2015-02-03
3,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,Active,1982-02-08,1991-05-25
4,4,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,Active,1989-06-19,1994-10-22

In [5]:
employee.describe()

         UNIQUE_ID    BASE_SALARY
count  2000.000000    1886.000000
mean    999.500000   55767.931601
std     577.494589   21693.706679
min       0.000000   24960.000000
25%     499.750000   40170.000000
50%     999.500000   54461.000000
75%    1499.250000   66614.000000
max    1999.000000  275000.000000

In [6]:
employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
UNIQUE_ID            2000 non-null int64
POSITION_TITLE       2000 non-null object
DEPARTMENT           2000 non-null object
BASE_SALARY          1886 non-null float64
RACE                 1965 non-null object
EMPLOYMENT_TYPE      2000 non-null object
GENDER               2000 non-null object
EMPLOYMENT_STATUS    2000 non-null object
HIRE_DATE            2000 non-null object
JOB_DATE             1997 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 156.3+ KB

![title](sql_statement.png)

Here we can split the above query into 4 parts

* show 4 columns statement(select)
* Getting the departments
* fetching rows only on the condtion satifies wehre Gender is female
* Basic Salary between 8000 and 120000

## Fetcing the deparments from the employee table

In [7]:
depts = ['Houston Police Department-HPD',
                         'Houston Fire Department (HFD)']

In [8]:
depts

['Houston Police Department-HPD', 'Houston Fire Department (HFD)']

In [9]:
criteria_dept = employee.DEPARTMENT.isin(depts)

In [24]:
criteria_dept.count()

2000

## Retrieving rows with gender as female

In [26]:
gender = employee.GENDER == 'Female'

In [27]:
gender.count()

2000

In [13]:
gender.head()

0     True
1     True
2    False
3    False
4    False
Name: GENDER, dtype: bool

## Checkng the salary condtion, ie., Salary should be between 8000 and 12000

In [47]:
sal = (employee.BASE_SALARY >= 80000 ) & (employee.BASE_SALARY <= 120000)

In [50]:
sal.count()

2000

In [52]:
sal.head()

0    False
1    False
2    False
3    False
4    False
Name: BASE_SALARY, dtype: bool

## Now combine all the statements into a single statment to get the required results

In [53]:
finalStament = (criteria_dept & gender & sal)

In [54]:
finalStament.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

## All the condtions are satisfied and it the time to show the required colummns(UNIQUE_ID,DEPARTMENT,GENDER,BASE_SALARY  )

In [55]:
req_columns = ['UNIQUE_ID','DEPARTMENT','GENDER','BASE_SALARY']

req_columns

['UNIQUE_ID', 'DEPARTMENT', 'GENDER', 'BASE_SALARY']

In [56]:
final_result = employee.loc[finalStament, req_columns].head()

In [57]:
final_result

     UNIQUE_ID                     DEPARTMENT  GENDER  BASE_SALARY
61          61  Houston Fire Department (HFD)  Female      96668.0
136        136  Houston Police Department-HPD  Female      81239.0
367        367  Houston Police Department-HPD  Female      86534.0
474        474  Houston Police Department-HPD  Female      91181.0
513        513  Houston Police Department-HPD  Female      81239.0

# Small modification to the above code to make it more simple

In [63]:
sal = (employee.BASE_SALARY >= 80000 ) & (employee.BASE_SALARY <= 120000)

## instead of wrting logical conFor many operations, pandas has multiple ways to do the same thing. In the preceding recipe, the criteria for salary uses two separate boolean expressions. Similarly to SQL, Series have a between method, with the salary criteria equivalently written as follows:dition, Pands provides "Between" method to work like

In [61]:
sal = employee.BASE_SALARY.between(8000,12000)

# Usage of Where Method

In [66]:
employee.head()

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
0,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,Active,2006-06-12,2012-10-13
1,1,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,Active,2000-07-19,2010-09-18
2,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,Active,2015-02-03,2015-02-03
3,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,Active,1982-02-08,1991-05-25
4,4,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,Active,1989-06-19,1994-10-22

## select * from employee where department = 'libary' and Basic_salariy >40000

In [115]:
department = employee.POSITION_TITLE == 'POLICE OFFICER'

In [116]:
department.count()

2000

In [106]:
bs = employee.BASE_SALARY > 40000

In [112]:
bs.head()

0     True
1    False
2     True
3     True
4     True
Name: BASE_SALARY, dtype: bool

In [117]:
result = employee.where(department & bs)

In [119]:
result.dropna()

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
2,2.0,POLICE OFFICER,Library,45279.0,White,Full Time,Male,Active,2015-02-03,2015-02-03
24,24.0,POLICE OFFICER,Library,52514.0,Black or African American,Full Time,Male,Active,2010-03-29,2011-03-29
44,44.0,POLICE OFFICER,Library,45279.0,White,Full Time,Male,Active,2014-02-03,2015-02-03
77,77.0,POLICE OFFICER,Library,52514.0,Hispanic/Latino,Full Time,Male,Active,2010-03-29,2011-03-29
78,78.0,POLICE OFFICER,Library,43443.0,Hispanic/Latino,Full Time,Male,Active,2014-10-13,2015-10-13
95,95.0,POLICE OFFICER,Library,60347.0,American Indian or Alaskan Native,Full Time,Male,Active,2006-03-20,2007-03-20
123,123.0,POLICE OFFICER,Library,43443.0,Hispanic/Latino,Full Time,Female,Active,2014-06-09,2015-06-09
148,148.0,POLICE OFFICER,Library,60347.0,White,Full Time,Male,Active,2008-02-04,2009-02-04
151,151.0,POLICE OFFICER,Library,55461.0,Hispanic/Latino,Full Time,Male,Active,2011-05-23,2012-05-23
153,153.0,POLICE OFFICER,Library,55461.0,White,Full Time,Male,Active,2008-02-04,2009-02-04
161,161.0,POLICE OFFICER,Library,47650.0,Hispanic/Latino,Full Time,Male,Active,2012-06-25,2013-06-25
172,172.0,POLICE OFFICER,Library,55461.0,White,Full Time,Male,Active,2006-08-21,2007-08-21
179,179.0,POLICE OFFICER,Library,47650.0,Hispanic/Latino,Full Time,Female,Active,2011-05-23,2012-05-23
182,182.0,POLICE OFFICER,Library,47650.0,Black or African American,Full Time,Male,Active,2011-05-23,2012-05-23
187,187.0,POLICE OFFICER,Library,47650.0,Hispanic/Latino,Full Time,Male,Active,2011-12-05,2012-12-05
205,205.0,POLICE OFFICER,Library,55461.0,Asian/Pacific Islander,Full Time,Male,Active,2006-05-22,2007-05-22
250,250.0,POLICE OFFICER,Library,47650.0,Hispanic/Latino,Full Time,Male,Active,2013-02-04,2014-02-04
260,260.0,POLICE OFFICER,Library,47650.0,Black or African American,Full Time,Male,Active,2011-05-23,2012-05-23
264,264.0,POLICE OFFICER,Library,55461.0,Black or African American,Full Time,Male,Active,2006-06-26,2008-02-09
266,266.0,POLICE OFFICER,Library,55461.0,Black or African American,Full Time,Female,Active,2007-08-13,2008-02-26
287,287.0,POLICE OFFICER,Library,43443.0,White,Full Time,Male,Active,2014-10-13,2015-10-13
289,289.0,POLICE OFFICER,Library,52514.0,White,Full Time,Male,Active,2009-06-22,2010-06-22
317,317.0,POLICE OFFICER,Library,45279.0,Hispanic/Latino,Full Time,Male,Active,2013-06-10,2014-06-10
320,320.0,POLICE OFFICER,Library,55461.0,Black or African American,Full Time,Male,Active,2007-12-10,2008-12-10
330,330.0,POLICE OFFICER,Library,55461.0,Hispanic/Latino,Full Time,Male,Active,2007-08-13,2012-04-28
331,331.0,POLICE OFFICER,Library,50621.0,Black or African American,Full Time,Male,Active,2011-03-21,2012-03-21
342,342.0,POLICE OFFICER,Library,47650.0,White,Full Time,Male,Active,2012-06-25,2013-06-25
343,343.0,POLICE OFFICER,Library,60347.0,White,Full Time,Female,Active,2001-12-03,2002-12-03
351,351.0,POLICE OFFICER,Library,60347.0,White,Full Time,Male,Active,2005-01-31,2006-01-31
358,358.0,POLICE OFFICER,Library,50621.0,Hispanic/Latino,Full Time,Male,Active,2014-07-03,2011-05-24
...,...,...,...,...,...,...,...,...,...,...
1677,1677.0,POLICE OFFICER,Library,60347.0,Black or African American,Full Time,Female,Active,2006-08-21,2011-03-30
1689,1689.0,POLICE OFFICER,Library,55461.0,Black or African American,Full Time,Male,Active,2007-10-01,2008-10-01
1709,1709.0,POLICE OFFICER,Library,60347.0,Hispanic/Latino,Full Time,Male,Active,2007-01-29,2008-01-29
1716,1716.0,POLICE OFFICER,Library,55461.0,White,Full Time,Male,Active,2009-05-04,2010-05-04
1717,1717.0,POLICE OFFICER,Library,47650.0,Hispanic/Latino,Full Time,Male,Active,2011-05-23,2012-05-23
1741,1741.0,POLICE OFFICER,Library,47650.0,Hispanic/Latino,Full Time,Female,Active,2011-05-23,2012-05-23
1742,1742.0,POLICE OFFICER,Library,47650.0,Asian/Pacific Islander,Full Time,Male,Active,2011-12-05,2012-12-05
1745,1745.0,POLICE OFFICER,Library,55461.0,Hispanic/Latino,Full Time,Male,Active,2007-08-13,2008-08-13
1772,1772.0,POLICE OFFICER,Library,47650.0,Hispanic/Latino,Full Time,Male,Active,2013-02-04,2014-02-04
1796,1796.0,POLICE OFFICER,Library,55461.0,Asian/Pacific Islander,Full Time,Male,Active,2007-05-07,2008-05-07
1803,1803.0,POLICE OFFICER,Library,55461.0,White,Full Time,Male,Active,2009-03-09,2010-03-09
1808,1808.0,POLICE OFFICER,Library,47650.0,Hispanic/Latino,Full Time,Male,Active,2013-02-04,2014-02-04
1823,1823.0,POLICE OFFICER,Library,55461.0,Black or African American,Full Time,Male,Active,2009-03-09,2010-03-09
1824,1824.0,POLICE OFFICER,Library,55461.0,White,Full Time,Male,Active,2007-12-10,2008-12-10
1830,1830.0,POLICE OFFICER,Library,55461.0,White,Full Time,Male,Active,2007-03-19,2008-03-19
1834,1834.0,POLICE OFFICER,Library,60347.0,Hispanic/Latino,Full Time,Male,Active,2005-01-31,2011-09-17
1854,1854.0,POLICE OFFICER,Library,43443.0,Black or African American,Full Time,Male,Active,2015-02-02,2016-02-02
1857,1857.0,POLICE OFFICER,Library,55461.0,Hispanic/Latino,Full Time,Male,Active,2007-06-25,2008-06-25
1923,1923.0,POLICE OFFICER,Library,47650.0,Black or African American,Full Time,Female,Active,2012-04-16,2013-04-16
1928,1928.0,POLICE OFFICER,Library,55461.0,Hispanic/Latino,Full Time,Male,Active,2007-05-07,2008-05-07
1938,1938.0,POLICE OFFICER,Library,55461.0,White,Full Time,Male,Active,2009-05-04,2010-05-04
1949,1949.0,POLICE OFFICER,Library,47650.0,Black or African American,Full Time,Female,Active,2012-04-16,2013-04-16
1951,1951.0,POLICE OFFICER,Library,55461.0,White,Full Time,Male,Active,2007-12-10,2011-08-20
1954,1954.0,POLICE OFFICER,Library,55461.0,White,Full Time,Male,Active,2007-10-01,2008-10-01
1961,1961.0,POLICE OFFICER,Library,55461.0,Asian/Pacific Islander,Full Time,Male,Active,2008-02-04,2009-02-04
1971,1971.0,POLICE OFFICER,Library,45279.0,Hispanic/Latino,Full Time,Female,Active,2013-10-14,2014-10-14
1977,1977.0,POLICE OFFICER,Library,45279.0,White,Full Time,Male,Active,2013-06-10,2014-06-10
1995,1995.0,POLICE OFFICER,Library,43443.0,White,Full Time,Male,Active,2014-06-09,2015-06-09
1997,1997.0,POLICE OFFICER,Library,43443.0,White,Full Time,Male,Active,2014-10-13,2015-10-13
1998,1998.0,POLICE OFFICER,Library,55461.0,Asian/Pacific Islander,Full Time,Male,Active,2009-01-20,2011-07-02